<div class="courses-panel">

  <h3>All Courses</h3>

  <mat-tab-group>

    <!-- Stateless -->
    <!-- <mat-tab label="Beginners">
      <courses-card-list [courses]="beginnerCourses$ |async" (CoursesChanged)="reloadCourses()"></courses-card-list>
    </mat-tab>

    <mat-tab label="Advanced">
      <courses-card-list [courses]="advancedCourses$ | async" (CoursesChanged)="reloadCourses()"></courses-card-list>
    </mat-tab> -->

    <mat-tab label="Beginners">
      <courses-card-list [courses]="beginnerCourses$ |async" ></courses-card-list>
    </mat-tab>

    <mat-tab label="Advanced">
      <courses-card-list [courses]="advancedCourses$ | async" ></courses-card-list>
    </mat-tab>

  </mat-tab-group>



</div>